*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: sweet;
    src: url(fonts/sweet/varsity_regular.ttf);
}

/* Header and background image */ /* Home page */

html {
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./images/wallpaper1.png);
    background-size: 400vw 400vh;
    background-repeat: no-repeat;

}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
}

nav img {
    width: 40%;
    margin: 10px 0px;
}

nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.Icontent{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.Icontent h1{
    font-size: 70px;
    margin-top: 80px;
}

.Icontent p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.Icontent a{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}





/* End of Home Page */



/* About us */

.wrapper{
    margin-top: 10%;
}

.wrapper h1{
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: #81c644;
}

.team{
   display: flex;
   text-align: center;
   width: auto;
   justify-content: center;
   flex-wrap: wrap;
}

.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}

.team .team_member h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.team .team_member .team_img img{
    width: 100px;
    height: 100px;

}

/* End of About Us */



/* Support */


.container{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: teal;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: teal;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}



/* Shop */


.Body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}


.Swrapper {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.Scontainer {
    position: relative;
}


.Scontainer .Scard {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

/* Code for .body which makes the outer border of the card */

.Scontainer .Scard:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}

/* Card before transition */


.Scontainer .Scard:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.Scontainer .Scard:after {
    content: 'Foreign';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

/* code makes pictures move */

.Scontainer .Scard .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    align-items: center;
}

/* product is in the card and can move smoothly */

.Scontainer .Scard:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.Scontainer .Scard .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    width: 200px;
}

/* the product has been rotated from its orginal */

.Scontainer .Scard .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.Scontainer .Scard:hover .contentBx {
    height: 210px;
}

.Scontainer .Scard:hover .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #9bdc28;
}

/* all of the content, if removed, the card and container are removed */

.Scontainer .Scard .contentBx .size,
.Scontainer .Scard .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

/* makes the card and body not touch each (padding) */

.Scontainer .Scard:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

/* Shows the sizes of the product */

.Scontainer .Scard:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

/* removed the div class (color) in html, instead put price
This shows the price of the product */

.Scontainer .Scard .contentBx .size h3,
.Scontainer .Scard .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
}

/* makes the color (price) look white and has more depth */

.Scontainer .Scard .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

/* this shows the white boxes of sizes */

.Scontainer .Scard .contentBx .size span:hover {
    background: #9bdc28;
}

.Scontainer .Scard .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    margin-top: -15px;
    cursor: pointer;
}

/* when you hover over the sizes it shows a green color */


.Scontainer .Scard .contentBx a {
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    border-radius: 4px;
    margin-top: -5px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.Scontainer .Scard:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}


/* Shop */

