*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: sweet;
    src: url(fonts/sweet/varsity_regular.ttf);
}

.Main a{
    color: darkgreen;
    font-family: sweet;
    margin: 0.5%;
    font-size: 2em;
    text-decoration: none;
}

.Main{
    background-color: #1c3239;
    opacity: 90%
}

.logo {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 60%;
}

.background{
    background-size: contain;
    background-repeat: no-repeat;
    height: 115vh;
}




